<!DOCTYPE html>
<html>
  <head>
      <title>Fizzy Archive - Error</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Fizzy Forum Archive</h1>
    </div>
    <div class="content">
      <ul>
        {{- for post in posts }}
          <p>
            { post.content }
          </p>
          <pre> – { post.owner.name }, { post.created_date }</pre>
        {{- endfor }}
      </ul>
    </div>
  </body>
</html>
