<!DOCTYPE html>
<html>
  <head>
      <title>Fizzy Archive - { forum.title }</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Fizzy Forum Archive</h1>
    </div>
    <div class="content">
      <ul>
        {{- for thread in threads }}
          <li>
            <a href="/forum/{ forum.id }/thread/{ thread.id }">{ thread.title }</a>
          </li>
        {{- endfor }}
      </ul>
    </div>
  </body>
</html>
